.footer {
  display: flex;
  justify-content: center;
  font-weight: 400;
  color: rgba(33, 33, 33, 0.7);
  max-width: 100%;
  padding: 60px 0;
  line-height: 1;
}

.footer__copyright {
  margin: 0;
}
