.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin-right: 20px;
  width: 190px;
  height: 190px;
  border-radius: 8px;
  object-fit: cover;
}

.profile__avatar-container {
  position: relative;
  margin-right: 20px;
  width: 190px;
  height: 190px;
}

.profile__avatar-btn {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  visibility: hidden;
  border-radius: 8px;
  cursor: pointer;
}

.profile__avatar-container:hover .profile__avatar-btn {
  visibility: visible;
}

.profile__avatar-pencil {
  margin-bottom: 12px;
}

.profile__avatar-btn::after {
  content: "Edit Avatar";
  color: rgba(255, 255, 255, 1);
  margin-left: 8px;
  margin-bottom: 12px;
}

.profile__avatar-btn:hover {
  opacity: 0.5;
  background-color: rgba(164, 164, 164, 1);
  border: none;
}

.profile__column {
  display: flex;
  flex-direction: column;
  max-width: 420px;
}

.profile__name {
  margin: 0 0 12px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile__description {
  margin: 0;
  line-height: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile__edit-btn {
  margin-top: auto;
  color: rgba(33, 33, 33, 0.8);
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 118px;
}

.profile__edit-btn:hover {
  color: rgba(33, 33, 33, 1);
}

.profile__pencil-icon {
  padding-right: 8px;
}

.profile__add-btn {
  display: flex;
  margin: auto 0 0 auto;
  width: 149px;
  height: 52px;
  border-radius: 8px;
  background-color: #212121;
  color: #fff;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.profile__add-btn:hover {
  background-color: rgba(33, 33, 33, 0.8);
}

.profile__plus-icon {
  width: 12px;
  height: 12px;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    width: 100%;
    height: 100%;
  }

  .profile__avatar-btn {
    visibility: visible;
    opacity: 0.5;
    background-color: rgba(164, 164, 164, 1);
    border: none;
  }

  .profile__avatar-btn ::after {
    content: " ";
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
  }

  .profile__description {
    margin: 0 0 32px;
  }

  .profile__column {
    margin: 0 0 20px;
    max-width: 288px;
  }

  .profile__add-btn {
    margin: 0;
    width: 100%;
  }
}
